*{
    margin: 0;
    padding: 0;
}
.banner-area{
    background-position: center center;
    background-size:cover ;
    height: 100vh;
    width: auto;
    margin: auto;
}
.menu{
    float: right;
    list-style: none;
    margin-top:30px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'poppins' ,sans-serif;
    font-size: 16px;
}
.menu ul li a:hover{
    color: rgb(7, 1, 13);
}
/* .logo{
    height: 20%;
    float: left;
    color: azure;
    list-style: none;
    
} */
.banner-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.banner-text h1{
    text-align: center;
    color:rgb(0, 0, 0);
    
    text-transform: uppercase;
    font-size: 60px;
    font-family: fantasys ;
}
.banner-text p{
    color: #180707;
    font-size: 18px;
}
.banner-text a{
    border: 1px solid #000000;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #000000;
}
.banner-text a:hover{
    background-color: white;
    color: rgba(3, 0, 5, 0.623);
    font-weight: bold;
}